.🐼-heading {
  margin: 0;
  color: var(--🎨-heading);
}

.🐼-heading-1 {
  font-size: var(--📏-font-size-3);
}

.🐼-subheading {
  margin: 0;
  color: var(--🎨-subheading);
}

.🐼-text {
  margin: 0;
  color: var(--🎨-text);
}