.🐼-html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.🐼-html,
.🐼-body {
  padding: 0;
  margin: 0;
}

.🐼-html * {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  .🐼-html {
    color-scheme: dark;
  }
}
