.🐼-stack-row,
.🐼-stack-column {
  --📏-grid-gap: var(--📏-container-padding);
  --📏-grid-cols: 12;
  --📏-grid-col-span: 12;
  display: inline-block;
  width: 100%;
}

.🐼-stack-inner {
  margin: calc(0px - var(--📏-grid-gap)) 0 0 calc(0px - var(--📏-grid-gap));
  display: flex;

  /* Disable pointer-events at this level to prevent the 
     overflow blocking clicks around the grid */
  pointer-events: none;
}

.🐼-stack-row .🐼-stack-inner {
  flex-wrap: wrap;
  justify-content: center;
}

.🐼-stack-column .🐼-stack-inner {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: calc(100% + var(--📏-grid-gap));
}

.🐼-stack-inner > * {
  /* Re-enable pointer-events at this level */
  pointer-events: auto;
}

/* In theory swapping the margin from left to right for rtl languages should
   prevent overflow and scrollbars */
.🐼-stack-inner:dir(rtl) {
  margin: calc(0px - var(--📏-grid-gap)) calc(0px - var(--📏-grid-gap)) 0 0;
}

.🐼-stack-item,
.🐼-stack-col,
.🐼-stack-fr,
.🐼-stack-card {
  margin: calc(var(--📏-grid-gap)) 0 0 calc(var(--📏-grid-gap));
}

.🐼-stack-col {
  flex: 0 0
    calc(
      ((100% / var(--📏-grid-cols)) * var(--📏-grid-col-span)) -
        var(--📏-grid-gap)
    );
}

.🐼-stack-row .🐼-stack-col {
  max-width: calc(
    ((100% / var(--📏-grid-cols)) * var(--📏-grid-col-span)) -
      var(--📏-grid-gap)
  );
}

.🐼-stack-column .🐼-stack-col {
  max-height: calc(
    ((100% / var(--📏-grid-cols)) * var(--📏-grid-col-span)) -
      var(--📏-grid-gap)
  );
}

.🐼-stack-fr {
  flex-grow: var(--fr);
}

.🐼-stack-row .🐼-stack-card {
  width: 100%;
  min-width: 50px;
  max-width: 200px;
}

.🐼-stack-column .🐼-stack-card {
  height: 100%;
  min-height: 50px;
  max-height: 200px;
}

/* In theory swapping the margin from left to right for rtl languages should
   prevent overflow and scrollbars */
.🐼-stack-col:dir(rtl) {
  margin: calc(var(--📏-grid-gap)) calc(var(--📏-grid-gap)) 0 0;
}

/* This would be a lot less verbose if `attr()` worked with setting
   custom propery values: https://caniuse.com/#feat=css3-attr */
.🐼-stack-col-1 {
  --📏-grid-col-span: 1;
}
.🐼-stack-col-2 {
  --📏-grid-col-span: 2;
}
.🐼-stack-col-3 {
  --📏-grid-col-span: 3;
}
.🐼-stack-col-4 {
  --📏-grid-col-span: 4;
}
.🐼-stack-col-5 {
  --📏-grid-col-span: 5;
}
.🐼-stack-col-6 {
  --📏-grid-col-span: 6;
}
.🐼-stack-col-7 {
  --📏-grid-col-span: 7;
}
.🐼-stack-col-8 {
  --📏-grid-col-span: 8;
}
.🐼-stack-col-9 {
  --📏-grid-col-span: 9;
}
.🐼-stack-col-10 {
  --📏-grid-col-span: 10;
}
.🐼-stack-col-11 {
  --📏-grid-col-span: 11;
}
.🐼-stack-col-12 {
  --📏-grid-col-span: 12;
}

.🐼-stack-fr-1 {
  --fr: 1;
}
.🐼-stack-fr-2 {
  --fr: 2;
}
.🐼-stack-fr-3 {
  --fr: 3;
}
.🐼-stack-fr-4 {
  --fr: 4;
}
.🐼-stack-fr-5 {
  --fr: 5;
}
.🐼-stack-fr-6 {
  --fr: 6;
}
.🐼-stack-fr-7 {
  --fr: 7;
}
.🐼-stack-fr-8 {
  --fr: 8;
}
.🐼-stack-fr-9 {
  --fr: 9;
}
.🐼-stack-fr-10 {
  --fr: 10;
}
.🐼-stack-fr-11 {
  --fr: 11;
}
.🐼-stack-fr-12 {
  --fr: 12;
}

@media screen and (min-width: 500px) {
  .🐼-stack-col-md-1 {
    --📏-grid-col-span: 1;
  }
  .🐼-stack-col-md-2 {
    --📏-grid-col-span: 2;
  }
  .🐼-stack-col-md-3 {
    --📏-grid-col-span: 3;
  }
  .🐼-stack-col-md-4 {
    --📏-grid-col-span: 4;
  }
  .🐼-stack-col-md-5 {
    --📏-grid-col-span: 5;
  }
  .🐼-stack-col-md-6 {
    --📏-grid-col-span: 6;
  }
  .🐼-stack-col-md-7 {
    --📏-grid-col-span: 7;
  }
  .🐼-stack-col-md-8 {
    --📏-grid-col-span: 8;
  }
  .🐼-stack-col-md-9 {
    --📏-grid-col-span: 9;
  }
  .🐼-stack-col-md-10 {
    --📏-grid-col-span: 10;
  }
  .🐼-stack-col-md-11 {
    --📏-grid-col-span: 11;
  }
  .🐼-stack-col-md-12 {
    --📏-grid-col-span: 12;
  }
}
