.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  padding: 1em;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
